<div class="row">
	<h3><%= @quote.name %></h3>
 </div>
 
<div>
		<div class="table-responsive ">
	
	<table class="table table-striped table-bordered table-hover  table-condensed">
	<% if ['plubming', 'sanitary', 'electrical'].include?@quote.category %> 
	<th>S.No</th> <th>Item</th><th>Size</th><th>Unit</th><th>Brand</th><th>Gauge</th><th>Quantity</th><th>Unit</th><th>Remarks</th><% if getquotebidstatus != 'inbox' %><th>Line Total</th><th>Remarks</th> <% end %>
	<% elsif ['tiles', 'marble', 'granite'].include?@quote.category %>
	<th>S.No</th> <th>Company</th><th>Item Description</th><th>Size</th><th>Quantity</th><th>Unit</th><th>Remarks</th><% if getquotebidstatus != 'inbox' %><th>Line Total</th><th>Remarks</th> <% end %>
	<% end %>
	
			<% @quote.quote_items.each do |quote_item| %>
				<tr>
					<%  quote_item.quote_details.each do |label, data|%>
					<td><%= data %></td>
					<% end %>
					<% if getquotebidstatus != 'inbox' %>
					<td><%= @quote.quote_bids.where(dealer_id: current_dealer.id , quote_item_id: quote_item.id).first.bid_amount %></td>
					<td><%= @quote.quote_bids.where(dealer_id: current_dealer.id , quote_item_id: quote_item.id).first.remarks %></td>
					<% end %>
				</tr>
			<% end %>
 	 </table>
 
	</div>
	
	
	<%= link_to    edit_quote_path do %>
	<% if getquotebidstatus == 'drafted' %>
	<button class="btn btn-primary" >Continue Editing</button>
	<% elsif getquotebidstatus == 'inbox' %>
	<button class="btn btn-primary" >Apply For  Quote</button>
	<% end %>
	<% end %>
	
	 
	<% if getquotebidstatus == 'drafted' %>
	<%= link_to    quotes_path(:type=>'drafted') do %>
	<button class="btn btn-primary" >Back</button>
	<% end %>
	<% end %>
	
	<% if getquotebidstatus == 'inbox' %>
	<%= link_to    quotes_path(:type=>'inbox') do %>
	<button class="btn btn-primary" >Back</button>
	<% end %>
	<% end %>
	
	<% if getquotebidstatus == 'submitted' %>
	<%= link_to    quotes_path(:type=>'submitted') do %>
	<button class="btn btn-primary" >Back</button>
	<% end %>
	<% end %>
	
</div>