
     
     


<% if params[:type] == "inbox" %>
<div class="page-header">
  <h3>Quotes Inbox  - <small>Dealer Dashboard</small></h3>
</div>
<table id="quotes_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>Quote ID</th>
                <th>Title</th>
                <th>Time left to Respond</th>
            </tr>
        </thead>
        <tbody>
        
        <%
          
         quote_bids = QuoteBid.where(dealer_id: current_dealer.id , status: 'inbox')
        quotes = Array.new
    	quote_bids.each do |quote_bid|
	    	quotes << quote_bid.quote_item.quote
        end
         %>

            <% quotes.uniq.each do |quote| %>
      <tr>
      	<td><%= quote.id %></td>
        <td><%= link_to quote.name, quote %></td>
          <td><%= if quote.submitted_at.present?
        deadline = quote.submitted_at + 15.days
        distance_of_time_in_words(Time.now, deadline)<< " left"  
        end
         %> </td>
      </tr>
    <% end %>
        </tbody>
    </table>
    
    <% end %>



 

<% if params[:type] == "drafted" %>
<div class="page-header">
  <h3>Drafted Quotes  - <small>Dealer Dashboard</small></h3>
</div>
<table id="quotes_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>Quote ID</th>
                <th>Title</th>
                <th>Time Left To Respond</th>
                <th>Action</th>
                 
            </tr>
        </thead>
         <tbody>
        
        <%
          
         quote_bids = QuoteBid.where(dealer_id: current_dealer.id , status: 'drafted')
        quotes = Array.new
    	quote_bids.each do |quote_bid|
	    	quotes << quote_bid.quote_item.quote
        end
         %>

            <% quotes.uniq.each do |quote| %>
      <tr>
      	<td><%= quote.id %></td>
        <td><%= link_to quote.name, quote %></td>
          <td><%= if quote.submitted_at.present?
        deadline = quote.submitted_at + 15.days
        distance_of_time_in_words(Time.now, deadline)<< " left"  
        end
         %> </td>
        <td>
        <%= link_to "Edit", quote %>
        </td>
      </tr>
    <% end %>
        </tbody>
    </table>
    
    <% end %>
    
    
    <% if params[:type] == "submitted" %>
<div class="page-header">
  <h3>Sent Quotes  - <small>Dealer Dashboard</small></h3>
</div>
<table id="quotes_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<th>Quote ID</th>
                <th>Title</th>
                <th>Action</th>
                 
            </tr>
        </thead>
         <tbody>
        
        <%
          
         quote_bids = QuoteBid.where(dealer_id: current_dealer.id , status: 'submitted')
        quotes = Array.new
    	quote_bids.each do |quote_bid|
	    	quotes << quote_bid.quote_item.quote
        end
         %>
            <% quotes.uniq.each do |quote| %>
      <tr>
      	<td><%= quote.id %></td>
        <td><%= link_to quote.name, quote %></td>
        <td>
        <%= link_to "View Details", quote %>
        </td>
      </tr>
    <% end %>
        </tbody>
    </table>
    
    <% end %>
    
    	
	<%= link_to    dealer_path do %>
	<button class="btn btn-primary" >Back to Dashboard</button>
	<% end %>
