<%= form_for(@quote , :html => {:class => "form-inline"}) do |f| %>
<% if @quote.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
	<ul>
		<% @quote.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<br>
<div class="row ">

	<div class="form-group col-md-8">
		<big><%= f.label :name , "Quote Title" %></big>
		<%= f.text_field :name , class:"form-control"%>
	</div>
	
</div>
<br>

<% quote_category = params[:category] || @quote.quote_items.first.category
if current_user.present?
update_type = "client_update"
elsif current_dealer.present?
update_type = "dealer_update"
elsif current_admin.present?
update_type = "admin_update"
end
%>
<input type="hidden" name="quote_category" value="<%= quote_category %>" >
<input type="hidden" name="update_type" value="<%= update_type %>" >
<% if !@quote.persisted? %>  <!-- if new quote -->

<% if ['plumbing','sanitary','electrical'].include? quote_category  %>
 <%= render 'quotes/plumbsanelect_form' %>
<% end %>

<% if ['tiles','marble'].include? quote_category  %>
 <%= render 'quotes/plumbsanelect_form' %>
<% end %>
	
 

<%  else %>  <!-- edit quote -->
	<div class="table-responsive">
	
	<table class="table table-striped    table-condensed controls">
		<th>S.No</th> <th>Item</th><th>Size</th><th>Unit</th><th>Brand</th><th>Gauge</th><th>Quantity</th><th>Unit</th><th>Remarks</th>

	<%   @quote.quote_items.each_with_index do |quote_item_details , index|  %>
	

	 <tr class="entry">
		<% quote_item_details.quote_details.each do | item_key ,value |  %>
		
		<td>
		<div class="form-group">
			<input class="form-control" name="quote[details][<%= index %>][<%= item_key %>]"  value ="<%= value %>" type="text" placeholder="<%= item_key.upcase %>"  />
		</div>
		</td>
		
 		<% end   %>
		

		<%
 if index == @quote.quote_items.size - 1
        button = "btn-add"
        glyphicon = "glyphicon-plus"
        button_class = "btn-success"
      else
        button = "btn-remove"
        glyphicon = "glyphicon-minus"
        button_class = "btn-danger"
      end
%>
		<td>
		<span class="input-group-btn">
			<button class="btn  <%= button_class  %> <%= button  %>" type="button">
				<span class="glyphicon <%= glyphicon %>"></span>
			</button>
			 </span>
			</td>
	
</tr>
	<% end %>


<% end %>
</table>
 
<div class="form-group">
<br><br>
		
	<%= f.submit 'Submit', :class => ' btn btn-primary' %>
	
	<%= f.submit 'Draft', :class => 'btn btn-primary' %>
	
		 <%= link_to  user_path do %>
	 <input type="button" class="btn btn-outline" value="Cancel"/>
	 <% end %>
</div>

 

<% end %>
