
<% if !@quote.persisted? %>  <!-- if new quote -->
<!-- if new record -->
  <div class="table-responsive">
  
  <table class="table table-striped   table-bordered table-condensed controls">
  <th>S.No</th> <th>Item</th><th>Size</th><th>Unit</th><th>Brand</th><th>Gauge</th><th>Quantity</th><th>Unit</th><th>Remarks</th><th>Action</th>
    <tr class="entry">
    <td><div class="form-group ">
      <input class="form-control" name="quote[details][1][sno]" type="text" placeholder="No." />
    </div>
    </td>
    
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][name]" type="text" placeholder="Item Name" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][description_size]" type="text" placeholder="Size" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][description_unit]" type="text" placeholder="Unit" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][brand]" type="text" placeholder="Brand" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][gauge]" type="text" placeholder="Gauge" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][quantity]" type="text" placeholder="Quantity" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][quantity_unit]" type="text" placeholder="Unit" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][remarks]" type="text" placeholder="Remarks" />
    </div>
    </td>
    <td>
    <span class="input-group-btn">
      <button class="btn btn-success btn-add" type="button">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      </span>
      </td>
      </tr>
      </table>
  </div>
  <%  else %>  <!-- edit quote -->
	<div class="table-responsive">
	
	<table class="table table-striped table-bordered   table-condensed controls">
		<th>S.No</th> <th>Item</th><th>Size</th><th>Unit</th><th>Brand</th><th>Gauge</th><th>Quantity</th><th>Unit</th><th>Remarks</th><th>Action</th>

	<%   @quote.quote_items.each_with_index do |quote_item_details , index|  %>
	

	 <tr class="entry">
		<% quote_item_details.quote_details.each do | item_key ,value |  %>
		
		<td>
		<div class="form-group">
			<input class="form-control" name="quote[details][<%= index %>][<%= item_key %>]"  value ="<%= value %>" type="text" placeholder="<%= item_key.upcase %>"  />
		</div>
		</td>
		
 		<% end   %>
		

		<%
 if index == @quote.quote_items.size - 1
        button = "btn-add"
        glyphicon = "glyphicon-plus"
        button_class = "btn-success"
      else
        button = "btn-remove"
        glyphicon = "glyphicon-minus"
        button_class = "btn-danger"
      end
%>
		<td>
		<span class="input-group-btn">
			<button class="btn  <%= button_class  %> <%= button  %>" type="button">
				<span class="glyphicon <%= glyphicon %>"></span>
			</button>
			 </span>
			</td>
	
</tr>
	<% end %>

</table>
</div>
<% end %>