
<% if !@quote.persisted? %>  <!-- if new quote -->
<!-- if new record -->
  <div class="table-responsive">
  
  <table class="table table-striped   table-bordered table-condensed controls">
  <th>S.No</th> <th>Company</th><th>Item Description</th><th>Size</th><th>Unit</th><th>Quantity</th><th>Remarks</th><th>Action</th>
    <tr class="entry">
    <td><div class="form-group ">
      <input class="form-control" name="quote[details][1][sno]" type="text" placeholder="No." />
    </div>
    </td>
    
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][company]" type="text" placeholder="Item Name" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][item_description]" type="text" placeholder="Item Description" />
    </div>
    <div class="row	text-center">
         <div class="col-sm-12"><label>Skirt</label></div>
    </div> <hr>
    <div class="row text-center">
        <div class="col-sm-12"><label>Profile</label></div>
   </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][size]" type="text" placeholder="Size" />
    </div>
    <div class="row	text-center">
    <div class="col-sm-12">
      <div class="form-group"><input class="form-control" name="quote[details][1][skirt_size]" type="text" placeholder="Size" /></div>
    </div>
    </div> 
    <div class="row text-center">
    <div class="col-sm-12">
        <div class="form-group"><input class="form-control" name="quote[details][1][profile_size]" type="text" placeholder="Size" /></div>
	</div>
   </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][unit]" type="text" placeholder="Unit" />
    </div>
    <div class="row	text-center">
    <div class="col-sm-12">
      <div class="form-group"><input class="form-control" name="quote[details][1][skirt_unit]" type="text" placeholder="Unit" /></div>
    </div>
    </div> 
    <div class="row text-center">
    <div class="col-sm-12">
    <div class="form-group"><input class="form-control" name="quote[details][1][profile_unit]" type="text" placeholder="Unit" /></div>
	</div>
   </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][quantity]" type="text" placeholder="Quantity" />
    </div>
          <div class="row	text-center">
    <div class="col-sm-12">
      <div class="form-group"><input class="form-control" name="quote[details][1][skirt_quantity]" type="text" placeholder="Quantity" /></div>
    </div>
    </div> 
    <div class="row text-center">
    <div class="col-sm-12">
        <div class="form-group"><input class="form-control" name="quote[details][1][profile_quantity]" type="text" placeholder="Quantity" /></div>
	</div>
   </div>	
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][remarks]" type="text" placeholder="Remarks" />
    </div>
          <div class="row	text-center">
    <div class="col-sm-12">
      <div class="form-group"><input class="form-control" name="quote[details][1][skirt_remarks]" type="text" placeholder="Remarks" /></div>
    </div>
    </div> 
    <div class="row text-center">
    <div class="col-sm-12">
        <div class="form-group"><input class="form-control" name="quote[details][1][profile_remarks]" type="text" placeholder="Remarks" /></div>
	</div>
   </div>
    </td>
    <td>
    <span class="input-group-btn">
      <button class="btn btn-success btn-add" type="button">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      </span>
      </td>
      </tr>
      </table>
  </div>
  <%  else %>  <!-- edit quote -->
	<div class="table-responsive">
	
	<table class="table table-striped table-bordered   table-condensed controls">
  <th>S.No</th> <th>Company</th><th>Item Description</th><th>Size</th><th>Unit</th><th>Quantity</th><th>Remarks</th><th>Action</th>

	<%   @quote.quote_items.each_with_index do |(item_key, value) , index|  %>
	



	 <tr class="entry">
	 
	 <% item_key.quote_details.first.each do | k, val|%>
	 <%= k %> <%= val %><br>
	 <% end %>
	 
	  
	 
	     <td><div class="form-group ">
      <input class="form-control" name="quote[details][<%= index %>][<%= item_key.quote_details.inspect%>]" type="text" placeholder="No." />
    </div>
    </td>
    
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][company]" type="text" placeholder="Item Name" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][item_description]" type="text" placeholder="Item Description" />
    </div>
    <div class="row	text-center">
         <div class="col-sm-12"><label>Skirt</label></div>
    </div> <hr>
    <div class="row text-center">
        <div class="col-sm-12"><label>Profile</label></div>
   </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][size]" type="text" placeholder="Size" />
    </div>
    <div class="row	text-center">
    <div class="col-sm-12">
      <div class="form-group"><input class="form-control" name="quote[details][1][skirt_size]" type="text" placeholder="Size" /></div>
    </div>
    </div> 
    <div class="row text-center">
    <div class="col-sm-12">
        <div class="form-group"><input class="form-control" name="quote[details][1][profile_size]" type="text" placeholder="Size" /></div>
	</div>
   </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][unit]" type="text" placeholder="Unit" />
    </div>
    <div class="row	text-center">
    <div class="col-sm-12">
      <div class="form-group"><input class="form-control" name="quote[details][1][skirt_unit]" type="text" placeholder="Unit" /></div>
    </div>
    </div> 
    <div class="row text-center">
    <div class="col-sm-12">
    <div class="form-group"><input class="form-control" name="quote[details][1][profile_unit]" type="text" placeholder="Unit" /></div>
	</div>
   </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][quantity]" type="text" placeholder="Quantity" />
    </div>
          <div class="row	text-center">
    <div class="col-sm-12">
      <div class="form-group"><input class="form-control" name="quote[details][1][skirt_quantity]" type="text" placeholder="Quantity" /></div>
    </div>
    </div> 
    <div class="row text-center">
    <div class="col-sm-12">
        <div class="form-group"><input class="form-control" name="quote[details][1][profile_quantity]" type="text" placeholder="Quantity" /></div>
	</div>
   </div>	
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][remarks]" type="text" placeholder="Remarks" />
    </div>
          <div class="row	text-center">
    <div class="col-sm-12">
      <div class="form-group"><input class="form-control" name="quote[details][1][skirt_remarks]" type="text" placeholder="Remarks" /></div>
    </div>
    </div> 
    <div class="row text-center">
    <div class="col-sm-12">
        <div class="form-group"><input class="form-control" name="quote[details][1][profile_remarks]" type="text" placeholder="Remarks" /></div>
	</div>
   </div>
    </td>
    

		<%
 if index == @quote.quote_items.size - 1
        button = "btn-add"
        glyphicon = "glyphicon-plus"
        button_class = "btn-success"
      else
        button = "btn-remove"
        glyphicon = "glyphicon-minus"
        button_class = "btn-danger"
      end
%>
		<td>
		<span class="input-group-btn">
			<button class="btn  <%= button_class  %> <%= button  %>" type="button">
				<span class="glyphicon <%= glyphicon %>"></span>
			</button>
			 </span>
			</td>
	
</tr>
	<% end %>
	
	
	

</table>
</div>
<% end %>