<!-- FOR CATEGORIES MODAL   ---->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Caterories</h4>
      </div>
      <div class="modal-body">
      <div class="row">
        <div class="col-md-6" >
        	<%= link_to   new_quote_path(:category => "tiles") do  %>
        		<button class="btn btn-primary" type="button">
 				 <i class="fa fa-building fa-2x">	Tiles</i>  
				</button>
        	<% end %><br><br>
        	<%= link_to   new_quote_path(:category => "granite") do  %>
        		<button class="btn btn-primary" type="button">
 				 <i class="fa fa-building-o fa-2x">		Granite</i>  
				</button>
        	<% end %><br><br>
        	<%= link_to   new_quote_path(:category => "marble") do  %>
        		<button class="btn btn-primary" type="button">
 				 <i class="fa fa-stop fa-2x">	Marble</i>  
				</button>
        	<% end %><br><br>
        		<%= link_to   new_quote_path(:category => "wood") do  %>
        		<button class="btn btn-primary" type="button">
 				 <i class="fa fa-stop fa-2x">	Wooden Flooring</i>  
				</button>
        	<% end %><br><br>
     
       
        	
        </div>
        
        <div class="col-md-6" >
        	<%= link_to   new_quote_path(:category => "sanitary") do  %>
        		<button class="btn btn-primary" type="button">
 				 <i class="fa fa-bars fa-2x">	Sanitary</i>  
				</button>
        	<% end %><br><br>
        	<%= link_to   new_quote_path(:category => "electrical") do  %>
        		<button class="btn btn-primary" type="button">
 				 <i class="fa fa-plug fa-2x">	Electrical</i>  
				</button>
        	<% end %><br><br>
         	   		<%= link_to   new_quote_path(:category => "plumbing") do  %>
        		<button class="btn btn-primary" type="button">
 				 <i class="fa fa-bitbucket fa-2x">	 Plumbing</i>  
				</button>
        	<% end %>
        
       
       
        </div>
        </div>
 
      </div>
      <div class="modal-footer">
     
      </div>
    </div>
  </div>
</div>

<!--- END OF CATEGORIES MODAL ----->





<h1> USER DASHBOARD</h1>
<%= render 'quotes/dashboard_header_user' %>
