<nav class="navbar navbar-default">
  <div class="container-fluid">
   
    <div class="navbar-header">
      
      <a class="navbar-brand" href="<%= root_path %>">QuoteKart</a>
    </div>
 
   <p id="notice"><%= notice %></p>

    <div class="  navbar-collapse yesb" id="bs-example-navbar-collapse-1">
    
     
     
    
    <% if current_user.present? %> 
    <%= render 'layouts/header_users' %>
     <% end %>
     
     <% if current_dealer.present? %> 
    <%= render 'layouts/header_dealers' %>
     <% end %>
     
     <% if current_admin.present? %> 
    <%= render 'layouts/header_admin' %>
     <% end %>
     
     
      
    
    
    


    </div>
  </div>
</nav>


